<% provide(:title, 'Help') %>
<h1>Help</h1>
<p>
	Check out the help page for
	<a href="http://www.betelgueseinc.com"> the GIANT star
	</a>
	to get a sense for the karmic possibilities
	<a href="http://wwww.google.com"> or just use Google 
	</a>
</p>

